<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruta Inteligente</title>
    <link rel="stylesheet" href="tabla-registro.component.css">
    </head>
<body>
    <div class="container">
        <h1>RUTA: {{Ruta}}</h1>
        <form (ngSubmit)="agregarRegistro()" #registroForm="ngForm">
            <div class="form-group">            
                <label for="numeromedidor">Numero Medidor:</label>
                <input type="text" id="numeromedidor" name="numeromedidor" required [(ngModel)]="registro.NumeroM">
            </div>
            <div class="form-group">
                <label for="codigomedidor">Código de medidor:</label>
                <input type="text" id="codigomedidor" name="codigomedidor" required [(ngModel)]="registro.CodigoM">
            </div>
            <div class="form-group">
                <label for="codigolote">Código de lote:</label>
                <input type="text" id="codigolote" name="codigolote" required [(ngModel)]="registro.CodigoLote">
            </div>
            <div class="form-group">    
                <label for="tarifa">Tarifa:</label>
                <input type="text" id="tarifa" name="tarifa" required [(ngModel)]="registro.Tarifa">
            </div>
            <div class="form-group">    
                <label for="hilos">Fases/Hilos:</label>
                <input type="text" id="hilos" name="hilos" required [(ngModel)]="registro.Hilos">
            </div>
            <div class="form-group">
                <label for="rpu">RPU:</label>
                <input type="text" id="rpu" name="rpu" required [(ngModel)]="registro.Rpu">
            </div>
            <div class="form-group">    
                <label for="folio">Folio:</label>
                <input type="text" id="folio" name="folio" required [(ngModel)]="registro.Folio"> <!--&nbsp;&nbsp;&nbsp;  -->
            </div>
            <div class="form-group">
                <label for="rpu">Kh Medidor:</label>
                <input type="text" id="khmedidor" name="khmedidor" required [(ngModel)]="registro.KhM">
            </div>
            <div class="form-group">    
                <label for="rpu">Rr Medidor:</label>
                <input type="text" id="rrmedidor" name="rrmedidor" required [(ngModel)]="registro.RrM">
            </div>
            <button align="center" type="submit" [disabled]="!registroForm.form.valid" class="btn btn-primary">Añadir</button>
        </form>
        <table  class="table">
            <thead>
                <tr>
                    <th >Numero Medidor</th>
                    <th class = "mostrar">Código de Medidor</th>
                    <th class = "filacolumna">Código de Lote</th>
                    <th class = "filacolumna">Tarifa</th>
                    <th class = "filacolumna">Hilos</th>
                    <th class = "mostrar">RPU</th>
                    <th class = "mostrar">Folio</th>
                    <th class = "filacolumna">khM</th>
                    <th class = "filacolumna">RrM</th>
                </tr>
            </thead>
                <tbody id="tableBody">
                    <tr *ngFor="let registro of registros">
                        <td class = "mostrar">{{registro.NumeroM }}</td>
                        <td class = "codigoM">{{registro.CodigoM }}</td>
                        <td class = "filacolumna">{{registro.CodigoLote}}</td>
                        <td class = "filacolumna">{{registro.Tarifa}}</td>
                        <td class = "filacolumna">{{registro.Hilos}}</td>
                        <td class = "mostrar">{{registro.Rpu}}</td>
                        <td class = "mostrar">{{registro.Folio }}</td>
                        <td class = "filacolumna">{{registro.KhM}}</td>
                        <td class = "filacolumna">{{registro.RrM}}</td>
                    </tr>
                </tbody>
        </table>
    </div>
</body>
</html>


