/* Agrega Bootstrap a tu archivo de estilos global */

@import '../../../../node_modules/bootstrap/dist/css/bootstrap.css';
/* Estilo personalizado para la tabla */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}


@media (min-width: 300px) and (max-width: 600px) {
    .filacolumna{
        display: none;
        
    }
    .mostrar{
        width: 10%;
        font-size: 14px;
    }
    th, td {
        font-size: 12px;
    }

  }
