
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exportar Registros a Excel</title>
    <link rel="stylesheet" href="tabla-exportar.component.css">
    <!-- <script src="exportar.js"></script> -->
</head>
<body>
    <div class="container">
        <h1>Exportar Registros a Excel</h1>
        <button id="exportarBtn">Exportar a Excel</button>
        <table>
            <thead>
                <tr>
                    <th>Numero Medidor</th>
                    <th>RPU</th>
                    <th>Folio</th>
                </tr>
            </thead>
            <tbody id="registrosBody">
                <!-- Aquí se mostrarán los registros -->
            </tbody>
        </table>
    </div>
</body>
</html>

