
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exportar Registros a Excel</title>
    <link rel="stylesheet" href="tabla-exportar.component.css">
    <!-- <script src="exportar.js"></script> -->
</head>
<body>
    <div class="container">
        <h1>Exportar Registros a Excel</h1>
    <button (click)="exportExcel()" class = "btn btn-primary">Descargar</button>
        <table class="table table-striped" id="table-data">
            <thead>
                <tr>
                    <th class ="Esconderexportar">Numero Medidor</th>
                    <th>Códogo de Medidor</th>
                    <th>Código de Lote</th>
                    <th>Tarifa</th>
                    <th>Hilos</th>
                    <th>RPU</th>
                    <th>Folio</th>
                    <th>khM</th>
                    <th>RrM</th>
                    <th>Latitud</th>
                    <th>Longitud</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            <tr *ngFor="let registro of registros">
                <td>{{registro.NumeroM }}</td>
                <td>{{registro.CodigoM }}</td>
                <td>{{registro.CodigoLote}}</td>
                <td>{{registro.Tarifa}}</td>
                <td>{{registro.Hilos}}</td>
                <td>{{registro.Rpu}}</td>
                <td>{{registro.Folio }}</td>
                <td>{{registro.KhM}}</td>
                <td>{{registro.RrM}}</td>
                <td>{{registro.latitud}}</td>
                <td>{{registro.longitud}}</td>
            </tr>
        </tbody>
        </table>
    </div>
</body>
</html>

