<body>
    <!--<nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="login.html">Login</a></li>
             Agrega más elementos del menú según sea necesario
        </ul>
    </nav>-->
    <div class="container">
        <h1>Modificar Registro</h1>
        <form id="formModificar">
            <label for="rpuModificar">RPU del Registro a Modificar:</label>
            <input type="text" name = "rpuModificar" id="rpuModificar" required [(ngModel)] = "rpubuscar">
            <!-- Agrega los campos que deseas modificar aquí -->
            <!-- Por ejemplo:
            <label for="nuevoNumeroMedidor">Nuevo Numero Medidor:</label>
            <input type="text" id="nuevoNumeroMedidor" required>
            -->
            <button type="submit" (click)="buscarRegistro(rpubuscar)">Buscar</button>
        </form>
        <form (submit)="guardarCambios()">
            <label for="numeromedidor">Numero Medidor:</label>
            <input type="text" id="numeromedidor" name="numeromedidor" required [(ngModel)]="registroEncontrado.NumeroM">
            <label for="numeromedidor">Numero Medidor:</label>
            <input type="text" id="codigomedidor" name="codigomedidor" required [(ngModel)]="registroEncontrado.CodigoM">
            <label for="codigolote">Código de lote:</label>
            <input type="text" id="codigolote" name="codigolote" required [(ngModel)]="registroEncontrado.CodigoLote">
            <label for="tarifa">Tarifa:</label>
            <input type="text" id="tarifa" name="tarifa" required [(ngModel)]="registroEncontrado.Tarifa">
            <label for="hilos">Fases/Hilos:</label>
            <input type="text" id="hilos" name="hilos" required [(ngModel)]="registroEncontrado.Hilos">
            <label for="rpu">RPU:</label>
            <input type="text" id="rpu" name="rpu" required [(ngModel)]="registroEncontrado.Rpu">
            <label for="folio">Folio:</label>
            <input type="text" id="folio" name="folio" required [(ngModel)]="registroEncontrado.Folio"> <!--&nbsp;&nbsp;&nbsp; -->
            <label for="rpu">Kh Medidor:</label>
            <input type="text" id="khmedidor" name="khmedidor" required [(ngModel)]="registroEncontrado.KhM">
            <label for="rpu">Rr Medidor:</label>
            <input type="text" id="rrmedidor" name="rrmedidor" required [(ngModel)]="registroEncontrado.RrM">
            <button type="submit">Guardar Cambios</button> 
          </form>
        <h2>Registro Modificado</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Numero Medidor</th>
                    <th>Códogo de Medidor</th>
                    <th>Código de Lote</th>
                    <th>Tarifa</th>
                    <th>Hilos</th>
                    <th>RPU</th>
                    <th>Folio</th>
                    <th>khM</th>
                    <th>RrM</th>
                </tr>
            </thead>
            <tbody id="registroModificadoBody">
                <tr *ngIf= "mostrarTabla">
                    <td>{{registroEncontrado.NumeroM }}</td>
                    <td>{{registroEncontrado.CodigoM }}</td>
                    <td>{{registroEncontrado.CodigoLote}}</td>
                    <td>{{registroEncontrado.Tarifa}}</td>
                    <td>{{registroEncontrado.Hilos}}</td>
                    <td>{{registroEncontrado.Rpu}}</td>
                    <td>{{registroEncontrado.Folio }}</td>
                    <td>{{registroEncontrado.KhM}}</td>
                    <td>{{registroEncontrado.RrM}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>



