<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camara Código</title>
</head>
<body>
      <div class="container mt-5">
        <h2>Por favor capture el Código de Barras del Medidor</h2>
      
        <div class="col-md-12">
          <webcam
            [trigger]="invokeObservable"
            (imageCapture)="captureImg($event)"
          ></webcam>
        </div>
        <div class="col-md-12">
          <button class="btn btn-danger" (click)="getSnapshot()">
          Capturar
          </button>
        </div>
        <div class="col-12">
          <div id="results">El código es: {{ capturedCode }}</div>
          <img [src]="webcamImage?.imageAsDataUrl" height="400px" />
        </div>
      </div>

</body>
</html>

