<nav>
  <img src="../../../../assets/images/iconoCfe.png" alt="Icono CFE">
  <ul *ngIf = "menu" >
    <li>    <a routerLink="/registro">
      <img src="../../../../assets/images/registro.png" alt="Registro">
    </a>
    </li>
    <li>    <a routerLink="/buscar">
      <img src="../../../../assets/images/search.png" alt="Registro">
    </a>
</li>
    <li>    <a routerLink="/modificar">
      <img src="../../../../assets/images/modificar.png" alt="Registro">
    </a>
</li>
    <li>    <a routerLink="/exportar">
      <img src="../../../../assets/images/exportar.png" alt="Registro">
    </a>
</li>
    <li (click)="cerrarSesion()"><a routerLink="/iniciosesion">salir</a></li>
  </ul>
</nav>
