<nav>
  <img src="../../../../assets/images/iconoCfe.png" alt="CFE">
  <ul *ngIf = "menu" >
    <li>    <a routerLink="/registro">
      <img src="../../../../assets/images/registro.png" alt="Registro">
    </a>
    </li>
    <li>    <a routerLink="/buscar">
      <img src="../../../../assets/images/search.png" alt="Buscar">
    </a>
</li>
    <li>    <a routerLink="/modificar">
      <img src="../../../../assets/images/modificar.png" alt="Modificar">
    </a>
</li>
    <li>    <a routerLink="/exportar">
      <img src="../../../../assets/images/exportar.png" alt="Exportar">
    </a>
  </li>
    <!-- <li>    <a routerLink="/capturar">
      <img src="../../../../assets/images/settings.png" alt="capturar">
  </a>
</li> -->
    <li (click)="cerrarSesion()"><a routerLink="/iniciosesion"><img src="../../../../assets/images/login.png" alt="Salir"></a></li>
  </ul>
</nav>
