<body>
    <div class="container">
        <h1>RUTA: {{Ruta}}</h1>
        <h2>Buscar Registro</h2>
        <form id="formBuscar" (ngSubmit)="buscarRegistro(rpu.value)">
            <label for="rpu">RPU del Registro:</label>
            <input type="text" id="rpu" required #rpu>
            <button type="submit">Buscar</button>
        </form>
        <h2>Registro Encontrado</h2>
        <div class = "contenedor" *ngIf="registroEncontrado">
            <div class ="propiedad">
                <h6>Numero de Medidor</h6>
                <p>{{registroEncontrado.NumeroM }}</p>
            </div>
            <div class ="propiedad">
                <h6>Código de Medidor</h6>
                <p>{{registroEncontrado.CodigoM }}</p>
            </div>
            <div class ="propiedad">
                <h6>Código de Lote</h6>
                <p>{{registroEncontrado.CodigoLote}}</p>
            </div>
            <div class ="propiedad">
                <h6>Tarifa</h6>
                <p>{{registroEncontrado.Tarifa}}</p>
            </div>
            <div class ="propiedad">
                <h6>Hilos</h6>
                <p>{{registroEncontrado.Hilos}}</p>
            </div>
            <div class ="propiedad">
                <h6>RPU</h6>
                <p>{{registroEncontrado.Rpu}}</p>
            </div>
            <div class ="propiedad">
                <h6>Folio</h6>
                <p>{{registroEncontrado.Folio }}</p>
            </div>
            <div class ="propiedad">
                <h6>Kh Medidor</h6>
                <p>{{registroEncontrado.KhM}}</p>
            </div>
            <div class ="propiedad">
                <h6>Rr Medidor</h6>
                <p>{{registroEncontrado.RrM}}</p>
            </div>
        </div> 
    </div>
    <div class="container">
        <h2>Registros</h2>
        <thead>
            <tr style= "font-size: small;">
                <th>Numero Medidor</th>
                <th>Códogo de Medidor</th>
                <th>Código de Lote</th>
                <th>Tarifa</th>
                <th>Hilos</th>
                <th>RPU</th>
                <th>Folio</th>
                <th>khM</th>
                <th>RrM</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <tr *ngFor="let registro of registros"> 
                <td>{{registro.NumeroM }}</td>
                <td>{{registro.CodigoM }}</td>
                <td>{{registro.CodigoLote}}</td>
                <td>{{registro.Tarifa}}</td>
                <td>{{registro.Hilos}}</td>
                <td>{{registro.Rpu}}</td>
                <td>{{registro.Folio }}</td>
                <td>{{registro.KhM}}</td>
                <td>{{registro.RrM}}</td>
            </tr>
        </tbody>
    </div>
</body>

